
html, body {
    height: 100%;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
}

nav {
    background: #003C6C;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a.active {
    text-decoration: underline;
}

.hero {
    background: #005A96;
    padding: 40px;
    color: white;
    text-align: center;
}

.content {
    padding: 20px 40px;
    background: white;
    margin: 20px;
    border-radius: 8px;
}

footer {
    background: #003C6C;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto
}

.card-body ul {
    padding-left: 1rem; 
    margin-left: 0;  
    list-style-position: inside;
}

body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
}
.section-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.link-card a {
    text-decoration: none;
}
